*.pyc
*__pycache__*

## VSCODE ##
.vscode/*
.mypy_cache/*

## PLAYBOOK DEVTEST ##
playbooks.devtest/*
rabi
spec
version.txt
pylipylint_run_report.txt
new_version.py
get_session_id.py
collection_build.sh
scripts
