[submodule "hi_python_sdk"]
	path = hi_python_sdk
	url = https://gpse-git.hitachivantara.com/scm/external/hi_pythonsdk-next.git
[submodule "goDoLogin"]
	path = goDoLogin
	url = https://gpse-git.hitachivantara.com/scm/external/hi_login.git

