*.pyc
*__pycache__*

## VSCODE ##
.vscode/*
.mypy_cache/*

## PLAYBOOK DEVTEST ##
playbooks.devtest/*
rabi
spec
version.txt
pylint_run_report.txt
new_version.py
get_session_id.py
collection_build.sh
scripts/
plugins/module_utils/unit_test
run_in_python.py
lambda_package
lint_report.txt
run_linter.py
test_ansible_doc.sh
sanity_test_report.txt
file_name_wo_ext_cwd.sh
utilities