{
	"storageGateway": "172.25.59.189",
	"storageGatewayPort": "2023",
	"subsystems": [
		{
			"serialNumber": 415056,
			"location": "172.25.43.250",
			"controllerIP": "172.25.43.251",
			"userID": "ms_vmware",
			"password": "",
			"gatewayServer": "172.25.59.245",
			"gatewayServerPort": 8444
		}
	],
	"filesystems": [
	]
}
