---
####################################################################
# Example : External Auth Server Settings Facts Playbook
####################################################################
- name: External Auth Server Settings Facts
  hosts: localhost
  gather_facts: false

  vars_files:
    - ../ansible_vault_vars/ansible_vault_storage_var.yml

  vars:
    # Common connection info for all tasks
    connection_info:
      address: "{{ storage_address }}"
      username: "{{ vault_storage_username }}"
      password: "{{ vault_storage_secret }}"

  tasks:
  ####################################################################
  # Task Name : Get external auth server settings
  ####################################################################
    - name: Get external auth server settings
      hitachivantara.vspone_block.sds_block.hv_sds_block_storage_external_auth_server_setting_facts:
        connection_info: "{{ connection_info }}"
      register: result

    - name: Debug the result variable
      ansible.builtin.debug:
        var: result
