---
####################################################################
# Example : SNMP Settings facts Playbook
####################################################################
- name: SDSB SNMP Configuration Management
  hosts: localhost
  gather_facts: false

  vars_files:
    - ../ansible_vault_vars/ansible_vault_storage_var.yml

  vars:
    # Common connection info for all tasks
    connection_info:
      address: "{{ storage_address }}"
      username: "{{ vault_storage_username }}"
      password: "{{ vault_storage_secret }}"

  tasks:
    ####################################################################
    # Task Name : Get SNMP settings
    ####################################################################
    - name: Get SNMP settings
      hitachivantara.vspone_block.sds_block.hv_sds_block_snmp_settings_facts:
        connection_info: "{{ connection_info }}"

      register: result

    - name: Debug the result variable
      ansible.builtin.debug:
        var: result
