---
####################################################################
# Example : VPS Module Playbook
####################################################################
- name: VPS Module
  hosts: localhost
  gather_facts: false
  vars_files:
    - ../ansible_vault_vars/ansible_vault_storage_var.yml

  vars:
    # Common connection info for all tasks
    connection_info:
      address: "{{ storage_address }}"
      username: "{{ vault_storage_username }}"
      password: "{{ vault_storage_secret }}"

  tasks:
    ####################################################################
    # Task Name : Create a VPS
    ####################################################################
    - name: Create a VPS
      hitachivantara.vspone_block.sds_block.hv_sds_block_vps:
        connection_info: "{{ connection_info }}"
        spec:
          name: "RKD_VPS_02" # Required field
          upper_limit_for_number_of_user_groups: 10
          upper_limit_for_number_of_users: 5
          upper_limit_for_number_of_sessions: 20
          upper_limit_for_number_of_servers: 200
          volume_settings:
            - pool_id: "b78fe7d7-22f3-4d43-a9cf-81af3b4d7bf6" # Required field
              upper_limit_for_number_of_volumes: 20 # Required field
              upper_limit_for_capacity_of_volumes_mb: 300000 # Required field
              upper_limit_for_capacity_of_single_volume_mb: -1 # To set no upper limit, specify -1.
              upper_limit_for_iops_of_volume: -1 # To set no upper limit, specify -1
              upper_limit_for_transfer_rate_of_volume_mbps: -1 # To set no upper limit, specify -1
              upper_alert_allowable_time_of_volume: -1 # To set no alert threshold, specify -1
              capacity_saving: "Disabled"
      register: result

    - name: Debug the result variable
      ansible.builtin.debug:
        var: result

    #########################################################################
    # Task Name :  Update settings of a VPS
    #########################################################################
    - name: Update settings of a VPS
      hitachivantara.vspone_block.sds_block.hv_sds_block_vps:
        connection_info: "{{ connection_info }}"
        spec:
          id: "ae0f247c-dc56-491c-9cb9-4b2b6d33b345"
          name: "RKD_VPS_03"
          upper_limit_for_number_of_user_groups: 15
          upper_limit_for_number_of_users: 10
          upper_limit_for_number_of_servers: 300
          upper_limit_for_number_of_sessions: 25
          upper_limit_for_number_of_volumes: 22
          upper_limit_for_capacity_of_volumes_mb: 330000
          upper_limit_for_capacity_of_single_volume_mb: 30000
          capacity_saving: "Disabled"
          upper_limit_for_iops_of_volume: 21474836
          upper_limit_for_transfer_rate_of_volume_mbps: 50
          upper_alert_allowable_time_of_volume: 40

      register: result

    - name: Debug the result variable
      ansible.builtin.debug:
        var: result

    ####################################################################
    # Task Name : Delete a VPS by name
    ####################################################################
    - name: Delete a VPS by name
      hitachivantara.vspone_block.sds_block.hv_sds_block_vps:
        connection_info: "{{ connection_info }}"
        state: "absent"
        spec:
          name: "RKD_VPS_03"
      register: result

    - name: Debug the result variable
      ansible.builtin.debug:
        var: result

    ####################################################################
    # Task Name : Delete a VPS by ID
    ####################################################################
    - name: Delete a VPS by ID
      hitachivantara.vspone_block.sds_block.hv_sds_block_vps:
        connection_info: "{{ connection_info }}"
        state: "absent"
        spec:
          id: "ae0f247c-dc56-491c-9cb9-4b2b6d33b345"
      register: result

    - name: Debug the result variable
      ansible.builtin.debug:
        var: result
